body>header{
    background-color: lightpink;
}

header{
    text-align: center;
}

li{
    list-style: none;
}

.section1{
    background-color: lightblue;
}

p:first-letter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: brown;
    font-weight: bold;

}